@import "normalize.scss";

$blue-regal: #004b6b;
$blue-hippie: #5b9bb7;
$green-moss: #758e4f;
$taupe: #7a6563;

$primary-bg: $taupe;
$secondary-bg: $blue-regal;
$primary-font: white;

$page-width: 900px;

.page-container {
    width: calc(100% - 40px);
    margin: 0 auto;
    max-width: $page-width;
}

header {
    background-color: $secondary-bg;
    position: fixed;
    width: 100%;
    top: 0;
    .page-container {
        height: 60px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        .logo-container {
            height: 100%;
            img {
                height: 100%;
            }
        }
        button {
            height: 100%;
            background: transparent;
            min-width: 44px;
            color: white;
            border: none;
            text-decoration: underline;
            text-transform: uppercase;
            &:hover {
                font-size: 1.2rem;
            }
        }
        nav {
            position: absolute;
            top: 100%;
            right: -20px;
            width: calc(100% + 40px);
            @media (min-width: $page-width) {
                width: 100%;
                right: 0;
            }
            &.hidden {
                display: none;
            }
            ul {
                padding: 0;
                margin: 0;
                list-style-type: none;
                display: flex;
                background: $secondary-bg;
                flex-direction: column;
                @media (min-width: $page-width) {
                    flex-direction: row;
                    border-bottom: 2px solid $blue-hippie;
                }
                li {
                    color: $primary-font;
                    height: 44px;
                    border-top: 2px solid $blue-hippie;
                    @media (min-width: $page-width) {
                        border-top: none;
                        border-left: 2px solid $blue-hippie;
                        width: calc(100% / 3);
                    }
                    &:last-of-type {
                        border-bottom: 2px solid $blue-hippie;
                        @media (min-width: $page-width) {
                            border-bottom: none;
                            border-right: 2px solid $blue-hippie;
                        }
                    }
                    a {
                        color: inherit;
                        height: 100%;
                        width: 100%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        &:hover {
                            font-size: 1.2rem;
                        }
                    }
                }
            }
        }
    }
}

main {
    background-color: $primary-bg;
    color: white;
    min-height: calc(100vh - 60px);
    margin: 60px 0 0;
    h1 {
        margin: 0;
    }
}
